<?php
$config['db_host'] = 'localhost';
$config['db_user'] = 'root';
$config['db_pass'] = '';
$config['db_name'] = '';
$config['db_port'] = 3306;
$config['utils_userAgent'] = "Kenrick Tool/adas";
$config['utils_cookieFile'] = "cookies.tmp";